{{#each appliedFilters}}
  <li>
    <button title="Remove the 'Press Release' filter">
      <span data-hashkey="{{key}}">{{value}}</span>
      <svg>
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close_icon"></use>
      </svg>
    </button>
  </li>
{{/each}}
