<div class="col-xs-12 col-sm-4 filter">
  <label for="filter-topic">Filter by topic</label>
  <select id="filter-topic">
    {{#each categories}}
      <option value="{{value}}">{{text}}</option>
    {{/each}}
  </select>
</div>
<div class="col-xs-12 col-sm-4 filter">
  <label for="filter-type">Filter by type</label>
  <select id="filter-type">
    {{#each types}}
      <option value="{{value}}">{{text}}</option>
    {{/each}}

  </select>
</div>
<div class="col-xs-12- col-sm-4 filter">
  <label for="filter-date">Filter by date</label>
  <input type="text" id="filter-date"/></input>
</div>
