<div class="sr-only" aria-live="polite" aria-atomic="true"><span>news items {{stats.start}} to {{stats.end}} of {{stats.totalPosts}}</span></div>
<ul class="app-items">

  {{#each items}}
    <li class="{{#if acf.spotlight}}spotlight{{/if}} {{../row_class}}">
      <a {{#if id}}href="{{link}}"{{/if}}>
    {{#if acf.spotlight}}{{#if acf.banner_image}}<img class="app-image" title="{{acf.banner_image.title}}" alt="{{acf.banner_image.alt}}" src="{{acf.banner_image.url}}">{{/if}}{{/if}}
        <h2>{{{title.rendered}}}</h2>
        <p class="app-type">{{acf.news_type}}</p>
        <p class="app-date">{{formatDate date}}</p>
        <p class="app-summary">{{{acf.summary}}}</p>
      </a>
    </li>
  {{/each}}
</ul>
