#com_newsroom_container {
  padding-top: 0px !important;
  .rss-feed {
    min-width: 0 !important;
    margin: 30px 0px 15px 0px;
    font-weight: 700;
    svg {
      margin: 0px 10px;
      width: 18px;
      height: 18px;
    }
  }
  .com-app-search {
    position: relative;
    width: 100%;
    margin: 0px;
    input {
      background-color: #fafafa;
    }
    form button {
      width: 46px;
      svg {
        width: 25px;
        height: 25px;
      }
    }
    input {
      padding: 8px;
    }
  }
  ul.applied-filters {
    list-style: none;
    margin: 15px 0px;
    padding: 0;
    li {
      font-size: .8em;
      font-weight: 700;
      display: inline-block;
      background: #eee;
      margin: 5px;
      border-radius: 8px;
      padding: 5px 10px;
      button:focus {
        outline-offset: 10px;
      }
      button {
        display: inline-block;
        border: 0;
        background: transparent;
        padding: 0px;

        svg {
          width: 15px;
          height: 15px;
        }
      }
    }
  }
  ul.app-items {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;

    border-top: 1px solid rgba(231, 231, 231, 0.8);
    li.spotlight {
      background-color: white;
    }
    li.two-per-row {
      width: 100%;
      display: inline-block;
    }
    li {
      display: flow-root;
      border-bottom: 1px solid rgba(231, 231, 231, 0.8);
      padding: 0px 0px;
      a {
        padding: 40px 20px;
        text-decoration: none;
        display: flow-root;
      }
      a:hover, a:focus {
        box-shadow: 0 0 10px #9ecaed;
        outline: 0;
      }
      h2 {
        margin: 0px 0px 15px 0px;
        padding: 0;
        font-size: 1.1em;
        font-weight: 500;
        color: #00629B;
      }

      .app-image {
        float: left;
        max-width: 90px;
        margin: 0px 20px 0px 0px;
      }
      .app-type {
        text-transform: uppercase;
      }
      .app-type, .app-topic, .app-date {
        font-family: "Gotham SSm A", "Gotham SSm B", Helvetica, Arial, sans-serif;
        font-size: .75em;
        display: inline-block;
        color: #707070;
        margin: 0;
        font-weight: 300;
      }
      .app-summary {
        color: #2E2E2E;
        font-size: .9em;
        font-weight: 500;
        margin-top: 5px;
        word-wrap: break-word;
      }
    }
  }
  .searchbar {
    padding: 0px 10px;
  }
  #news-app-filters {
    box-shadow: 1px 2px 2px rgba(0, 0, 0, .16);
    .panel-heading {
      padding: 0px;
      background-color: #F1F1F1;
      a {
        display: flow-root;
        margin: 0px;
        padding: 0px;
      }
      a:focus, a:hover {
        outline: 1px solid #00A9E0;
        outline-offset: 0px;
      }
      .panel-title {
        font-family: "Gotham SSm A", "Gotham SSm B", Helvetica, Arial, sans-serif;
        font-weight: 500;
        color: #2E2E2E;
        padding: 17px;
        .applied-filter-count {
          font-weight: 300;
          color: #5C5C5C;
          font-size: .9em;
        }
      }
    }
    .panel-body {
      padding: 20px;
      background-color: #FAFAFA;
      .app-filters-reset {
        font-family: "Gotham Narrow A", "Gotham Narrow B", Helvetica, Arial, sans-serif;
        color: #2E2E2E;
        font-size: .8em;
        button {
          min-width: 0px;
        }
      }
    }
  }
  .app-filters {
    margin-top: 20px;
    .filter:not(:last-child) {
      padding-right: 5px;
    }
    .filter:not(:first-child) {
      padding-left: 5px;
    }
    label {
      font-size: .7em;
      color: #777;
      font-weight: 700;
    }
    select, input {
      font-size: .9em;
      width: 100%;
      border-radius: 3.45px;
      background-color: #F1F1F1;
      border: 1px solid rgba(185, 185, 185, 0.5);
      color: #777;
      padding: 8px;
      margin-bottom: 10px;
      line-height: normal;
      height: 40px;
      font-family: "Gotham Narrow A", "Gotham Narrow B", Helvetica, Arial, sans-serif;
    }
  }

  /* needed for one page mode */
  .pagination {
    ul {
      li.disabled span a {
        cursor: not-allowed;
      }
    }
    a:focus {
      outline-offset: 0;
    }
    nav.no-paging {
      margin-top: 40px;
    }
  }
  ul.pagination_more_news li:first-child span a:after {
    content: "";
  }

  ul.pagination_more_news li:last-child span a:before {
    content: "";
  }

}

.daterangepicker .btn.btn-sm {
  min-width: initial !important;
}

@media only screen and (min-width: 768px) {
  #com_newsroom_container {
    .rss-feed {
      margin: 50px 0px 25px 0px;
    }
    .panel-body {
      .app-filters-reset {
        button {
          padding-left: 25px;
          padding-right: 25px;
        }
      }
    }

    .com-app-search {

      form button {
        width: 64px;
      }
      form button.search-clear {
        margin-right: 15px;
      }
      input {
        padding: 12px;
      }
    }

    #news-app-filters {
      .panel-heading .panel-title {
        padding: 20px;
      }
    }

    ul.app-items {
      li.two-per-row {
        width: 49%;
        display: inline-block;
        vertical-align: text-top;
      }
      li {
        h2 {
          font-size: 1.4em;
        }
        .app-image {
          max-width: 200px;
          max-height: 200px;
        }
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  #com_newsroom_container {
    .com-app-search {
      width: 75%;
    }
  }
}
