<!--
IMPORTANT:
Any resources from this project should be referenced using SRC_PATH preprocessor var.
See examples below in the boilerplate code
-->

<!--
1. HEADER
Everything inside this rewindJS-app:head tag will be loaded at the end of the page's HEAD tag.
It should contain stylesheet references (and possibly other stuff) that this application requires.
-->
<!-- rewindJS-app:head -->

<!-- @if !IS_EMBEDDED -->
<!-- standalone apps may want to set some meta tags in here -->
<title>newsroom</title>
<meta property="og:title" content="newsroom">
<meta name="DC.title" content="newsroom">
<meta name="WT.sp" content="newsroom">
<meta property="og:description" content="Page Description">
<meta name="DC.description" lang="en" content="Page Description">
<meta name="description" content="Page Description">
<meta name="keywords" content="Key Words">
<meta name="Author" content="City of Mississuaga">
<meta name="Owner" content="City of Mississuaga">
<meta name="DC.language" content="en-CA">
<meta name="DC.subject" content="newsroom">
<meta charset="UTF-8">
<!--@endif-->

<!-- From here to the next endbuild tag, all the files will be concatenated into a single file called main.css: -->
<!--@exec startBuildTagWithCacheBuster('styles/main.css')-->
<!-- rewindJS uses the following rewindJS:css/endinject tag to inject bower_components stylesheet file references: -->
<!-- rewindJS:css -->
<!-- endinject -->

<!-- place your application stylesheet references here: -->
<link rel="stylesheet" type="text/css" href="<!-- @echo SRC_PATH -->/styles/main.css">

<!-- endbuild -->

<!-- From here to the next endbuild tag, all the files will be concatenated into a single print-only file called core_print.css: -->
<!--@exec startBuildTagWithCacheBuster('styles/rewindJS_print.css', 'media="print"')-->
<!-- rewindJS uses the following rewindJS_print:css/endinject tag to inject bower_components print-only stylesheet file references: -->
<!-- rewindJS_print:css -->
<!-- endinject -->

<!-- place any application print-only stylesheet references here -->

<!-- endbuild -->
<!-- rewindJS-app:head end-->

<!--
2. BODY
Everything inside this rewindJS-app:body tag will be loaded inside the webpage
It should contain the HTML elements that make up the visual portion of this application.
IMPORTANT:
Remember to use unique element IDs and class names so that this app doesn't interfere with other parts of the cframe/website
-->
<!-- rewindJS-app:body -->

<div id="com_newsroom_container">
  <link rel="alternate" class='rss-feed-link' type="application/rss+xml" title="RSS Feed" href="<!-- @echo SITE_URL -->/news/feed">

  <div class="form-filter-block">
    <div class="com-app-search">
      <form>
        <label for="com_news_search" class="sr-only">Search City of Mississauga News</label>
        <input type="text" class="search-input" id="com_news_search" placeholder="Search News">
        <button type="button" class="search-clear hide" data-input="com_news_search"><span class="sr-only">Clear search field</span>
          <svg>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close_icon"></use>
          </svg>
        </button>
        <button type="button" data-input="com_news_search">
          <span class="sr-only">Search</span>
          <svg>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#search_icon"></use>
          </svg>
        </button>
      </form>
    </div>

    <div class="right">
      <a target="_blank" class='rss-feed-link' href="<!-- @echo SITE_URL -->/news/feed">
        <button class="btn btn-system btn-sm rss-feed"
                title="Retrieve the City of Mississauga's news feed in RSS format.">
          <svg>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#rss_icon"></use>
          </svg>
          <span class="xxsmall-font">Feed</span>
        </button>
      </a>
    </div>

    <div class="panel-group" id="news-app-filters" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="filterHeading">
          <a role="button" data-toggle="collapse" data-parent="#news-app-filters" href="#filter-controls"
             aria-expanded="true" aria-controls="filter-controls" class="">
            <h4 class="panel-title">
              Filter by <span class="applied-filter-count"></span>
            </h4>

          </a>
        </div>
        <div id="filter-controls" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="filterHeading"
             aria-expanded="true" style="">
          <div class="panel-body">
            <div class="row app-filters-reset">
              <div class="col-xs-8">
                Filters are automatically applied
              </div>
              <div class="col-xs-4 right">
                <button class="btn btn-sm btn-system" title="Reset/Clear all the filter settings">Clear Filters</button>
              </div>
            </div>
            <div class="row app-filters">

            </div>

          </div>

        </div>
      </div>
    </div>
    <ul class="applied-filters">
    </ul>
  </div>

  <div id="form_loader">
	<span role="alert" aria-busy="true" class="sr-only">working...</span>
    <!--suppress HtmlUnknownTarget -->
    <img src="<!--@echo SRC_PATH-->/img/loading.svg" height="40" width="40" alt="Loading icon">
  </div>
  <div class="row">
    <div id="newsroom_list_view" class="col-xs-12 col-sm-12 col-md-12">

    </div>
  </div>
  <div class="row">
  </div>
  <div class="pagination">
    <nav aria-label="Page Navigation" id="numberPageSelection"></nav>
  </div>
</div>
<!-- rewindJS-app:body end-->

<!--
3. FOOTER
Everything inside the rewindJS-app:footer tag will be loaded at the end of the page's BODY tag.
It should contain script references that this application requires.
-->
<!-- rewindJS-app:footer -->


<!-- From here to the next endbuild tag, all the files will be concatenated into a single file called main.js: -->
<!--@exec startBuildTagWithCacheBuster('scripts/main.js')-->
<!-- rewindJS uses the following rewindJS:js/endinject tag to inject bower_components javascript file references: -->
<!-- rewindJS:js -->
<!-- endinject -->

<!-- place your application script references here: -->

<script type="text/javascript" src="node_modules/bootpag/lib/jquery.bootpag.js"></script>
<script type="text/javascript" src="<!-- @echo SRC_PATH -->/scripts/templates.js"></script>
<script type="text/javascript" src="<!-- @echo SRC_PATH -->/scripts/newsroom_app.js"></script>
<script type="text/javascript" src="<!-- @echo SRC_PATH -->/scripts/main.js"></script>

<!-- endbuild -->
<script>

  comNewsroom.render({
      items_per_page: 10,
      list_row_class: '',
      max_pages: 1,
      more_news_link: 'http://google.ca',   //only useful if max_pages = 1
      show_filters: true
    }
  ); //render the application
  /*
    comNewsroom.render({
    items_per_page: 6,
    list_row_class: 'two-per-row',
    max_pages: 1,
    more_news_link: 'http://google.ca',   //only useful if max_pages = 1
    initial_topic: "Health",
    initial_type: "Store",
    show_filters : false
    }
  ); //render the application

   */

</script>

<!--@if ENV!='prod'-->
<!-- Here we log out some debug info for non-production builds-->
<script type="text/javascript">
  console.log('com_newsroom running on <!--@echo ENV--> environment');
  console.log('com_newsroom qa release: <!--@echo QA_RELEASE-->');
  console.log('com_newsroom build: <!--@echo BUILD_ID-->');
</script>
<!--@endif-->

<!-- rewindJS-app:footer end-->
